/* Imports ================================= */
// @import 'reset';
// @import 'components';
// @import 'base';
// @import 'variables';
// @import 'home';

@import 'reset';

* {
	box-sizing: border-box;
}

body {
	background-color: #faf49d;
	height: 100%;
}
.container {
	position: relative;
	padding: 50px 30px 50px;
	font-family: sans-serif;
	width: 90%;
	max-width: 600px;
	margin: 140px auto;
	font-family: 'Rokkitt', serif;
}

h1 {
	font-size: 2.5em;
	text-align: center;
}

h2 {
	font-size: 2.5em;
	margin-top: 30px;
	text-align: center;
	margin-bottom: 5%;
}

.todo {
	display: flex;
	flex-direction: column;
	margin-top: 10px;
	border: 2px solid #e49651;
	border-left: none;
	border-bottom: 1px solid #e49651;
	margin: 10px auto;
	li {
		font-family: 'Rokkitt', serif;
		font-size: 1.5em;
		color: black;
		padding: 10px 5px;
		border-bottom: 1px solid #6096c8;
		border-left: 3px solid #ce674b;
		position: relative;
		animation: addedflash 0.5s 1 linear;
		order: 0;
		background-color: white;
		transition: 1s ease;
		div {
			background-color: transparent;
			border: 0px;
			position: absolute;
			outline: none;
			font-size: 1.3em;
			top: 10px;
			right: 50px;
			cursor: default;
		}
		&.finished {
			text-decoration: line-through red;
			background-color: #faf49d;
			animation: doneflash 0.5s 1 linear;
			order: 2;
			transition: 1s ease;
		}
		&.important {
			background-color: #d4af37;
			order: -1;
		}
		&.important.finished {
			order: 1;
		}
	}
	button {
		background-color: transparent;
		border: 0px;
		position: absolute;
		outline: none;
		font-size: 1.3em;
		top: 2px;
		right: 5px;
	}
}
.new-item {
	border: 1px #e59651 solid;
}
.form {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	.new-item {
		width: 100%;
		height: 30px;
		font-size: 1.3em;
		margin-bottom: 5%;
	}
	button {
		width: 100%;
		height: 30px;
		font-size: 1em;
		color: black;
		background-color: #00a1ff;
		border-radius: 10px;
	}
}

.stats {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	button {
		width: 100%;
		height: 30px;
		font-size: 1em;
		background-color: #00c600;
		border-radius: 10px;
	}
	.todo-total {
		width: 50%;
		font-size: 1.3em;
		.total {
			color: #00a1ff;
		}
	}
	.completed-total {
		text-align: right;
		width: 50%;
		margin-bottom: 5%;
		font-size: 1.3em;
		.done-total {
			color: #02c600;
		}
	}
	.important-total {
		font-size: 1.3em;
		margin: auto;
		.import-total {
			color: #d4af37;
		}
	}
}
input {
	background-color: #faf49d;
}

@keyframes addedflash {
	0% {
		background-color: white;
	}
	50% {
		background-color: #00a1ff;
	}
	100% {
		background-color: white;
	}
}

@keyframes doneflash {
	0% {
		background-color: #faf49d;
	}
	50% {
		background-color: #00c600;
	}
	100% {
		background-color: #faf49d;
	}
}
